body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #timestamp-form {

    margin: 0 auto;
    text-align: center;
  }

  #instructions {
      width: 50%;
      margin: 0px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 15px;
  }

  #instructions p {
      font-weight: bold;
  }

  #instructions li {
    line-height: 32px;
  }

  #result {
      width: 50%;
      margin: 0px auto;
      padding: 15px;
      max-width: 50%;
      line-height: 36px;
      text-align: center;
  }

  #result-timestamp {
    text-align: center;
    font-size: 36px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    background-color: #eee;
    display: none;
  }
  
  label {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    margin-top: 25px;
  }
  

  input[type="date"],  input[type="time"] {
    width: 90%;
    margin: 5px auto;
    height: 32px;
    padding: 5px 10px;
    font-size: 28px;
    border-radius: 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  button[type="submit"] {
    margin-left: 0px auto;
    margin-top: 35px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
